<p id="notice"><%= notice %></p>

<h1>Products</h1>

<p>There are <%= @uniq_num %> unique products.</p>
<p>The average price of all products is $<%= @avg_price.round(2) %></p>
<p>The total quantity of stock is <%= @sum_quantity %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<% 100.times do %>
  <P><%= "Chunky Bacon" %></P>
<% end %>